/*Kod av Felix*/

body {
    overflow-x: hidden; /*Gör så att man inte kan skrolla åt sidan*/
    background-color: #101820;
    margin: 0;
}

.nav-container { 
    max-width: 1200px; /* Begränsar bredden*/
    margin: 0 auto;
    display: flex; /*Används för att navigationsmenyn ska visas horisontellt*/
    justify-content: space-between; /* Sprider ut innehållet */
    align-items: center;
    padding: 0px; 
    margin-top: -30px; /* Justerar positionen uppåt */
}

.logo {
    width: auto;
    height: 180px; /* Sätter höjden på logotypen */
}

.nav-links {
    display: flex; /* Gör länkarna horisontella */
    gap: 20px; /* Skapar mellanrum mellan länkar */
}

.nav-links a {
    text-decoration: none; /* Tar bort understrykning */
    color: #ffffff;
    transition: color 0.3s; /* Gör att färgändringen sker på 0.3 sekunder*/
    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;  
    margin-top: -20px; /* Flyttar länkarna uppåt */
}

.nav-links a:hover {
    color: #FEE715; /* Ändrar färg när man hovrar över länkarna */
}

.content {
    display: flex; /* Används för att huvuddelen med text och bild ska visas vågrätt */
}

.text {
    margin-left: 110px; /* Skjuter texten åt höger */
    margin-top: 50px; /* Justerar textens position */
    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    color: white;
    font-size: 50px;
}

.sidepic {
    height: 500px; /* Sätter höjden på bilden */
    width: auto;
    margin-top: -70px;
    margin-right: -130px;
}

.highlight {
    color: #FEE715;
}