body {
    overflow-x: hidden;
    background-color: #101820;
    margin: 0;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: -30px;
}

.logo {
    width: auto;
    height: 180px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    font-family: Inter, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: -20px;
}

.nav-links a:hover {
    color: #FEE715;
}